{% if success %}
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{ success|safe }}
	</div>
{% endif %}
{% if info %}
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{ info|safe }}
	</div>
{% endif %}
{% if warning %}
	<div class="alert alert-warning alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{ warning|safe }}
	</div>
{% endif %}
{% if error %}
	<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{ error|safe }}
	</div>
{% endif %}
{% if form %}
	{% for field, errors in form.errors.iteritems() %}
		{% for error in errors %}
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ field|safe }}: {{ error|safe }}
			</div>
		{% endfor %}
	{% endfor %}
{% endif %}
