{% extends "layout/form.html" %}

{% block title %}New Password{% endblock %}
{% block description %}The form on this page can be used for changing your password{% endblock %}

{% block formclass %}form-horizontal{% endblock %}

{% block form %}
	<legend>Reset Password</legend>
	<div class="form-group required">
		<label class="col-md-4 control-label" for="password">New Password</label>
		<div class="col-md-8">
			<input class="form-control" placeholder="Please choose new password" name="password" type="password" value="" required></input>
		</div>
	</div>
	<div class="form-group required">
		<label class="col-md-4 control-label" for="cpassword">Confirm Password</label>
		<div class="col-md-8">
			<input class="form-control" placeholder="Please confirm new password" name="cpassword" type="password" value="" required></input>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-8 col-md-offset-4">
			<input class="btn btn-success pull-right" type="submit" value="Update"></input>
		</div>
	</div>
{% endblock %}
