{% extends "layout/landing.html" %}

{% block title %}Terms of Service{% endblock %}
{% block description %}This page describes the Website and DependencyWatcher services terms of use{% endblock %}

{% block content %}
<div class="content text-wrapper">
	<article class="container text-content privacy-terms">
		<h1>Terms of Service</h1>
		<p>These Terms of Use govern your use of DependencyWatcher Website and related services (referred also as "the Service", "we", "our" or "us"). These Terms of Use, together with our Privacy Policy and any other terms specifically referred to in any of those documents, constitute a legally binding agreement (the "Agreement") between you and DependencyWatcher in relation to your use of the service.</p>

		<h3>Acceptance of Terms of Use</h3>
		<p>Please read these Terms of Use and our Privacy Policy very carefully. If you do not agree to any of the provisions set out in those documents, you should not use the Website or any of the DependencyWatcher services. By accessing or using DependencyWatcher, registering an account, you represent and warrant that you have read and understood the Terms of Use and Privacy Policy, will abide by them.</p>

		<h3>Changes to Terms of Use</h3>
		<p>We reserve the right to change, alter, replace or otherwise modify these Terms of Use at any time. The date of last modification is stated at the end of these Terms of Use. It is your responsibility to check this page from time to time for updates.</p>
		<p>When we make any updates to these Terms of Use, we will highlight this fact on the Website. In addition, if you register an account and these Terms of Use are subsequently changed in any material respect (for example, for security, legal, or regulatory reasons), we will notify you in advance by sending a message to your DependencyWatcher account and/or an email to the email address that you have provided to us, and the revised Terms of Use will become effective six (6) weeks after such notification. You will have no obligation to continue using the Service following any such notification, but if you do not terminate your account during such six (6) week period, your continued use of the Service after the end of that six (6) week period will constitute your acceptance of the revised Terms of Use.</p>

		<h3>Your Account</h3>
		<p>You have to register with DependencyWatcher in order to use its services. When you register to use the Service, you will provide us with your email address, and you'll choose a password for your account. You must ensure that the email address that you provide is, and remains, valid. Your email address and any other information you chose to provide about yourself will be treated in accordance with our Privacy Policy. You may choose to register with us using 3rd party account, like GitHub.com. In this case, your profile information like: e-mail, name and avatar will be transferred to us, and stored.</p>
		<p>You are solely responsible for maintaining the confidentiality and security of your username and password, and you will remain responsible for all use of your username and password, and all activity emanating from your account, whether or not such activity was authorized by you.</p>
		<p>If your username or password is lost or stolen, or if you believe that your account has been accessed by unauthorized third parties, you are advised to notify DependencyWatcher in writing, and should change your password at the earliest possible opportunity.</p>
		<p>We reserve the right to suspend or terminate your account if activities occur on that account which, in our sole discretion, would or might constitute a violation of these Terms of Use, or an infringement or violation of the rights of any third party, or of any applicable laws or regulations.</p>

		<h3>Your Content</h3>
		<p>DependencyWatcher is a service that analyzes source code stored in your public or private repositories. That means that a local copy of repositories you provide us with will be kept at DependencyWatcher, and an automatic process will read the source code, and analyze it. It's our obligation that no human intervention will be involved into this process. That also means that repository information, like: URL, credentials and/or private SSH keys will be kept securely in DependencyWatcher database.</p>
		<p>The moment you decide, and ask to remove a repository from the Service, a repository including its location and credentials information will be deleted completely. However, this process may take for up to several minutes.</p>

		<h3>Warranties and Disclaimers</h3>
		<p>We provide our Services using a commercially reasonable level of skill and care and we hope that you will enjoy using them. But there are certain things that we don’t promise about our Service.</p>
		<p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, WE MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICE. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE SPECIFIC FUNCTIONS OF THE SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SERVICES "AS IS".</p>
		<p>WHEN PERMITTED BY LAW, WE SHALL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.<p>
		<p>TO THE EXTENT PERMITTED BY LAW, OUR LIABILITY, FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE SERVICE (OR, IF WE CHOOSE, TO SUPPLYING YOU THE SERVICES AGAIN).</p>
		<p>IN ALL CASES, WE SHALL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.</p>
	</article>
</div>
{% endblock %}
